#boom {
    height: 10rem;
    width: 10rem;
}

#gun {
    height: 30rem;
    width: 40rem; 
}

.gun-container {
    display: flex;
}

#shoot-button {
    position: relative;
    top: 15rem;
    left: 15rem;
    height: 5rem;
    opacity: 0;
}